* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
nav {
  background-color: #1f1d36;
  font-weight: bold;
}
/* .container {
  border: 1px solid;
} */
section h2 {
  padding-top: 30px;
}
/* firstsection */
.firstsection {
  background-color: #1f1d36;
}
.firstsection .container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding-top: 11rem;
  padding-bottom: 11rem;
}
.firstsection img {
  margin-left: auto;
  width: 20rem;
}
.firstsection .right {
  display: flex;
  flex: 1;
}
.firstsection .left {
  margin-top: auto;
  flex: 2;
}
.firstsection .start {
  margin-top: -20px;
  display: flex;
}
.left p {
  flex: 2;
}
.left button {
  background-color: #1f1d36;
  flex: 1;
  margin-top: 20px;
}
/* EndSection */
/* SecondSection */
.SecondSection {
  background-color: #1f1d36;
  justify-content: center;
}
.SecondSection .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.SecondSection .left {
  margin-left: auto;
  flex: 1;
  margin-right: 30px;
}
.SecondSection .right {
  margin-right: auto;
  flex: 1;
}
.SecondSection .right p {
  margin-top: 40px;
}
/* EndSection */
/* ThreeSection */
.ThreeSection {
  background-color: #1f1d36;
}
.ThreeSection .container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.ThreeSection .card {
  border: none;
  color: aliceblue;
}
.ThreeSection .card p {
  margin-top: auto;
}
/* EndSection */
/* FourSection */
.FourSection {
  background-color: #1f1d36;
}
.FourSection .container {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.FourSection .gambar {
  margin: 2rem;
  justify-content: center;
  width: 30rem;
  background-color: #1f1d36;
}
.FourSection .gambar img {
  width: 95%;
  margin: 1rem;
}
.FourSection .gambar p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* EndSection */
/* Testi */
.testi {
  background-color: #1f1d36;
}
.testi .card {
  background-color: #1f1d36;
  width: 20rem;
}
/* EndTesti */
.SixSection {
  background-color: #1f1d36;
}
.SixSection button {
  background-color: #1f1d36;
}
@media screen and (min-width: 320px) and (max-width: 481px) {
  /* FirstSection */
  .firstsection .container {
    padding-top: 2rem;
  }
  .firstsection img {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
  /* EndSection */
  /* SecondSection */
  .SecondSection .right p {
    margin-top: 0;
  }
  .SecondSection .left {
    margin-right: 0;
    padding-bottom: 20px;
  }
  /* EndSection */
  /* FourSection */
  .FourSection .gambar img {
    width: 90%;
    margin: 1rem;
  }
  /* ENdSection */
  /* Testi */
  .testi .card {
    width: 18rem;
  }
  /* EndTesti */
}
@media screen and (min-width: 482px) and (max-width: 767px) {
  .firstsection .container {
    padding-top: 2rem;
  }
  .firstsection .left {
    flex: 100%;
  }
  .firstsection img {
    margin-left: auto;
    margin-right: auto;
  }
}
